@font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-Regular.otf');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-BoldItalic.otf');
	font-weight: bold;
	font-style:italic;
}

@font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-Italic.otf');
	font-weight: normal;
	font-style:italic;
}

@font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-Bold.otf');
	font-weight: bold;
	font-style:normal;
}

html {
	  font-size: 100%;
	  overflow-y: scroll;
	
}



body {
	margin: 0;
  	font: 0.8125em/1.692307em 'Bitter', Georgia, 'Times New Roman', Times, serif;
  	color: #555;
  	background: #fff;
  	padding: 0;
  	background-color: #000000;
  	font-weight: normal;
	font-style:normal;
	
}

.current{
	color: #aaa;
}


	/************ Article Styles ************/



header {
	 border-top: 5px solid #444;
	 border-bottom: 1px solid #e5e5e5;
	  margin-top: 10px;
	  height: 7em;
	  line-height: 7em;
	  margin-bottom: .5em;
	  z-index: 99999;
}

header h1 {
	font-size: 2em;
	text-transform: uppercase;
	color: #a416cc;

}

nav {
	margin-bottom: 2em;
}

.navbar {
	margin-bottom: 0;
}

a:hover{
	text-decoration: none;
}

	/* Main Navigation Style */

.navbar a{
	  	font: 0.81em/1.69em 'Bitter', Georgia, 'Times New Roman', Times, serif;
		color: #a416cc;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: .1em;
}

.navbar a:hover {

}

.nav>li>a:hover {
	/* background: #aaa; */
}

.nav>li {
	line-height: 1.4em;
 	margin-left: 0px;
 	margin-right: 1.7em;
  	display: block;
  	text-transform: uppercase;
  	font-size: 1em;
}

li.eng:hover, li.eng:focus {
	background: transparent;
}



li.eng a{
	text-indent: -9000em;
	background: url(../images/icons/flags/en_us.png) no-repeat left center;
}


/* .nav li:nth-child(9){
	text-indent: -9000em;
	background: url(../images/icons/flags/en_us.png) no-repeat left center;

} */


.nav li:nth-child(10){
	text-indent: -9000em;
	background: url(../images/icons/flags/sr_rs.png) no-repeat left center;
}

.nav li:nth-child(11){
	text-indent: -9000em;
	background: url(../images/icons/flags/fr.png) no-repeat left center;
}

.nav li:nth-child(12){
	text-indent: -9000em;
	background: url(../images/icons/flags/de.png) no-repeat left center;
}






.navbar ul li ul {
	background: #aaa;
}

ul>li:hover a {
	color: black;
}

.navbar ul>li:hover{
	background: #aaa;
		
}



.mainNav li {
	list-style: none;
}



.carousel-wrapper {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #e5e5e5;

}

.post {
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom: 2em;
}

.post img {
	float: left;
  	width: 23.4375%;
  	margin: 3px 3.9% 20px 0;
  	border: 1px solid #e5e5e5;
}

.post h2 {
	font-size: 1.5em;
}

.post p {

}

.post .pubdate {
	font-size: 0.85em;
  	color: #aaa;
 	line-height: 1.692307em;
  	word-spacing: 2px;
}

.post a{
	color:#888;
}

.post a:hover {
	color:#a416cc;
}


/*_____________________________________________________ Gallery Styles*/


.gallery {
	/* overflow: hidden;
		clear: both; */	
		margin: 3em 0;
		
}


.gallery ul {
	overflow: hidden;
}
.tthumbnail {
	float: left;
	list-style: none;
}



.tthumbnail img {
	width: 120px;
	height: 90px;
	background-color: #e5e5e5;
  	border: 1px solid #a9a9a9;
  	display: block;
  	margin: 5px;
  	padding: 4px;
  	position: relative;

}

.tthumbnail img:hover {
	background: #a9a9a9;
		
}

/*____________________________________________________Video Styles*/

	.video {
		 border: 3px solid #a9a9a9;
		margin-bottom: 2em;
	}

	.videoWrapper h2{
		font-size: 2em;
		margin-bottom: 1em;
		text-align: center;
	}






			/******* Sidebar Styles ********/
aside {
		color: #555;
}
aside h2 {
	font-size: 0.9em;
  	color:#aaa;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	word-spacing: 2px;
}

aside div {
	width: 50%;
	margin: 0 auto 2em;
}

aside ul {

    list-style: none;
    padding:0;
    margin:0;
}

aside li { 
    padding-left: 1em; 
    text-indent: 1em;
    line-height: 2em;
}

aside li:before {
    content: "• " ;
    color: #aaa; 
}

aside li a{
	padding-left:.5em;
	color: #555; 
}

.social {
	border-top: 5px solid #444;
	border-bottom: 5px solid #444;
	padding-top: 30px;
	background: url(../images/toolbox-small.png) no-repeat left center;
 
}

.media.post h2{
	text-align: center;
	margin: 1em 0;
	color: #aaa;
	letter-spacing: .1em;

}

.media.post img {
	  margin-top: 5em;
}


/* _____________________________________________________ Forms */

form label, form input, form textarea {
	font-family: 'Bitter', Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
}
form label {
	line-height: 1.5em;	
	color: #888;

}

legend {
 padding-bottom: 10px;
}



input[type="text"], input[type="password"], input[type="email"], .input-text, textarea, select {
	border: 1px solid #ddd;
	padding: 5px;
	outline: none;
	font-size: 1em;
	color: #aaa;
	margin: 0;
	display: block;
	background: #ddd;
	margin-bottom: 1em;
}
select { padding: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, .input-text:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
textarea {
	display: block;
	width: 94%;
	min-height: 60px;
}
input[type="radio"] { vertical-align: text-middle; }
input[type="checkbox"] { display: inline; }
input[type="submit"]:hover { cursor: pointer }
.error { color: #ff4367; }

/*__________________________________________Contact Form  */


.contact-form h1 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
	color: #ddd;
	
}

#contactForm {
	padding: 20px;
	font-size: 1em;
	color: #555;

}

#contactForm input[type=text], #contactForm input[type=email], #contactForm input[type=submit] {

	width: 70%;
	height: 30px;
	display: block;
	padding: 5px 10px;
	color:#222;
	margin-bottom:10px;
	vertical-align:baseline;
}

#contactForm input[type=text]:hover, 
#contactForm input[type=text]:focus , 
 #contactForm input[type=email]:hover,  
  #contactForm input[type=email]:focus, 
  #contactForm input[type=submit]:hover, 
 #contactForm textarea:focus,
  #contactForm textarea:hover {
	
	background: #a416cc;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	color: white


}

#contactForm textarea {
	
	height: 200px;
}

 #contactForm input[type=submit] {
 	width: 100px;
 	height: 35px;
 	margin-bottom: 0;
 	background: #ddd;
 	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
 }

  #contactForm input[type=submit]:hover {
	background: #9416CC;
	color: white;
}

.errorlist {
	list-style: none;
}
label.error, .errorlist li {
	margin-bottom: 10px;
	color:#bb0000;
}	
.errorlist li:last-child {
	margin-bottom: 20px;
}

#contactForm p{
	margin-bottom: 1.6em;
   line-height: 2.2em;
}




		/******* Sidebar Styles ********/

footer {
	font-size: 0.8em;
  	color: #aaa;
	padding: 30px 0;
}

footer a {
  color: #888;
  text-transform: uppercase;
  letter-spacing: .1em;
}

footer a:hover {
	 color: #a416cc;
	
}